body{
    background-color:rgb(55, 55, 55);
}
.back{
    font-size: 40px;
}   
.back a{
    text-decoration: none;
}
.card{
    height: 600px;
    width: 600px;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 32);
    box-shadow: 2px 2px 8px 6px rgb(26, 26, 26);
    text-align: center;
}
.insert-h1{
    color: rgb(87, 0, 169);
    transform: translate(0%, 80%);
    font-size: 40px;
}
.insert-p{
    color: white;
    transform: translate(0%, 80%);
    font-size: 20px;
}
.form{
    width: 400px;
    height: 200px;
    margin-left: 100px;
}
.form input{
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    margin-top: 2rem;
    font-size: 25px;
    outline: none;
}
.form hr{
    transform: translate(0%, -1200%);
    width: 320px;
    margin: 40px;
}
.form button{
    background-color: blueviolet;
    border: none;
    font-size: 25px;
    color: white;
    transform: translate(0%, -60%);
}
.form button:hover{
    cursor: pointer;
}
.card img{
    margin-top: 1rem;
}
.check-h1{
    transform: translate(0%, 100%);
    font-size: 40px;
    color: rgb(87, 0, 169);
}
.check-p{
    transform: translate(0%, 100%);
    color: white;
    font-size: 20px;
    margin-bottom: 3rem;
}
