body{
    background-color:rgb(55, 55, 55);
}
.card{
    height: 500px;
    width: 600px;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 32);
    box-shadow: 2px 2px 8px 6px rgb(26, 26, 26);
    text-align: center;
}
.form{
    width: 400px;
    height: 200px;
    margin-left: 100px;
}
.form input{
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    font-size: 25px;
    outline: none;
}
.form .pass{
    margin-top: 6rem;
}
.form hr{
    transform: translate(0%, -1200%);
    width: 320px;
    margin: 40px;
}
.form button{
    background-color: blueviolet;
    border: none;
    font-size: 25px;
    color: white;
    transform: translate(0%, -40%);
}
.form button:hover{
    cursor: pointer;
}
.insert-h1{
    color: rgb(87, 0, 169);
    transform: translate(0%, 120%);
    font-size: 40px;
}
.message-section{
    position: absolute;
    top: 8rem;
    width: 60%;
    height: 80px;
    margin-left: 20%;
    text-align: center;
    font-size: 25px;
    background-color: rgb(32, 32, 32);
    box-shadow: 2px 2px 8px 6px rgb(26, 26, 26);
}
.message-section .not_validate{
    color: rgb(214, 37, 37);
}