{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style/forgot-password.css' %}">
</head>
<body>
    <p class="back"><a href="{% url 'login-page' %}">🔙</a></p>
    <div class="card">
        {% if message %}
            <h1 class="check-h1">Check Email</h1>
            <p class="check-p">Please, Check your email for change the password</p>
            <img src="https://img.freepik.com/premium-vector/email-sending-icon-flat-style-envelope-receive-vector-illustration-isolated-background-mailbox-notification-sign-business-concept_157943-3008.jpg" alt="" width="350px" height="300px">
            <p class="check-p">You can close this page.</p>    
        {% else %}
            
                <h1 class="insert-h1">Insert Your Email</h1>
                <p class="insert-p">Please insert your associated email.</p>
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" alt="" width="300px" height="250px">
                <div class="form">
                    <form action="{% url 'forgot-password' %}" method="POST">
                        {% csrf_token %}
                        <input type="email" name="email" id="email" placeholder="Email">
                        <hr>
                        <button type="submit">Send Email</button>
                    </form> 
                </div> 
        {% endif %}
    </div>

</body>