{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style/password-reset.css' %}">
</head>
<body>
    {% if message %}
            <div class="message-section">
                <p class="not_validate">{{ message }}</p>
            </div>
    {% endif %}


    <div class="card">
        
        <h1 class="insert-h1">Insert The New Password</h1>

        <div class="form">
            <form action="{% url 'password-reset' %}" method="POST">
                {% csrf_token %}
                <input class="pass" type="password" name="password" id="password" placeholder="New Password">
                <hr>
                <input class="confirm" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                <hr>
                <button type="submit">Reset</button>
            </form> 
        </div> 
     
    </div>

</body>